<head>
    <title>Loyalty Score Prediction</title>
    <link rel="stylesheet" href="../static/style.css ">
</head>

<body>
    <h1>Loyalty Score Prediction</h1>
    <form action="/Prediction" method="post">
        <h3>Enter the below details </h3>

            <label for="Satisfaction Score">Satisfaction Score</label>
            <input type="text" name="Satisfaction Score" required>

            <label for="Discounted Spend">Discounted Spend</label>
            <input type="text"  name="Discounted Spend" required>

            <label for="Spend per Item">Spend per Item</label>
            <input type="text"  name="Spend per Item" required>

            <label for="Age">Age</label>
            <input type="number"  name="Age" required>

    
        <button type="submit">Predict</button>

    </form>

<h2> Loyalty Score: {{pred_res}}</h2>
</body>

